@model IEnumerable<Medioteca.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_publi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.N_edicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.N_paginas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Argumento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_publi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_edicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_paginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Argumento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LibroId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LibroId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LibroId })
            </td>
        </tr>
    }

</table>
